appnope==0.1.0
asgiref==3.2.7
backcall==0.2.0
blis==0.4.1
buffer==0.0.7
catalogue==1.0.0
certifi==2020.6.20
chardet==3.0.4
cheroot==8.3.0
CherryPy==18.6.0
click==7.1.2
cycler==0.10.0
cymem==2.0.3
decorator==4.4.2
Django==3.0.6
filelock==3.0.12
Flask==1.1.2
future==0.18.2
get==2019.4.13
idna==2.9
ipython==7.16.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.1
jaraco.text==3.2.0
jedi==0.17.1
Jinja2==2.11.2
joblib==0.15.1
kiwisolver==1.2.0
line-profiler==2.1.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mkl-fft==1.0.15
mkl-service==2.3.0
more-itertools==8.4.0
murmurhash==1.0.2
nltk==3.5
node==0.9.25
numpy==1.18.1
odict==1.7.0
olefile==0.46
packaging==20.4
pandas==1.0.4
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
plac==1.1.3
plumber==1.6
portend==2.6
post==2019.4.13
preshed==3.0.2
prompt-toolkit==3.0.5
ptyprocess==0.6.0
public==2019.4.13
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
query-string==2019.4.13
regex==2020.5.14
request==2019.4.13
requests==2.23.0
sacremoses==0.0.43
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.10.1
sentencepiece==0.1.91
six==1.14.0
sklearn==0.0
spacy==2.3.2
sqlparse==0.3.1
srsly==1.0.2
tempora==3.0.0
thinc==7.4.1
threadpoolctl==2.0.0
tokenizers==0.8.1rc1
torch==1.5.1
torchvision==0.6.0a0+82fd1c8
tqdm==4.46.0
traitlets==4.3.3
transformers==3.0.2
urllib3==1.25.9
wasabi==0.7.0
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.11.2
zc.lockfile==2.0
zope.component==4.6.1
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==5.0.1
zope.interface==5.1.0
zope.lifecycleevent==4.3
zope.proxy==4.3.5
